{% extends 'base.html' %}

{% block header %}
    <title>{{ meta.APP_NAME }}</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script>

        const MSG_DELAY = 500;
        const generateMessage = (id, timestamp, source, message) => {
                return `<div class="message" id="message-${id}">
                    <span class="timestamp">${timestamp}</span>
                    <span class="source">${source}</span>:
                    <span class="text">${message}</span>
                        </div>`;
        }

        let messageQueue = Array([])
        function timerWork(){
            if(!messageQueue){
                return;
            }
            if(messageQueue.length){
                let messagesList = document.getElementById('messages');
                messagesList.innerHTML+=messageQueue.pop()
                messagesList.scrollTop = messagesList.scrollHeight;

            }
            else{
                return;
            }
            setTimeout(timerWork,MSG_DELAY)
        }
        document.addEventListener('DOMContentLoaded', function() {
            let socket = io({{ meta.TRANSPORT_METHOD_CONFIG|safe }});

            socket.on('connect', function() {
                socket.send(JSON.stringify({'status': 'connect'}))
            });

            socket.on('message', function(msg) {
                var data = JSON.parse(msg);
                if(data.hasOwnProperty('response')) {
                    for (const mesg in data.response) {
                        msg = data.response[mesg]
                        messageQueue.unshift([generateMessage(msg.id, msg.timestamp,msg.source,msg.message)])
                    }
                }
                timerWork()
            });

            document.getElementById('sendBtn').onclick = function() {
                var userMessage = document.getElementById('userMessage').value;
                socket.send(JSON.stringify({'message': userMessage}));
                document.getElementById('userMessage').value = '';
            };
        });

    </script>
{% endblock %}

{% block content %}
     <div class="content container mt-5">
        <div class="heading-container text-center">
            <h2>Welcome to {{ meta.APP_NAME }}!</h2>
            <p>You are speaking to a simulation of ELIZA, a chatbot created by Joseph Weizenbaumm in 1965.
                <br/>Find my code <a href="https://github.com/FerrenF/elizaSpeak">here</a> and more information about ELIZA <a href="https://sites.google.com/view/elizagen-org/About?authuser=0">here</a></p>
          </div>
        <div id="messages" class="list-group">
            {% for message in data.messages %}
                {{ message|safe }}
            {% endfor %}
        </div>
        <div class="input-group mt-3">
            <form id="userMessageForm" onsubmit="return false;">
            <input id="userMessage" type="text" class="form-control" autocomplete="off" placeholder="Type a message...">
            <div class="input-group-append">
                <button id="sendBtn" class="btn btn-primary">Send</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}